body{
    background-color: rgba(0, 0, 0, 0.91);
}
.container{
    display: flex;
}

.wrapper {
    margin: 0 auto;
    width: 400px;
    height: 300px;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #21a8e7;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.91);
    box-sizing: border-box;
}


.inner {
    padding: 15px;
    box-sizing: border-box;
    width: 280px;
    height: 200px;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-self: center;
    align-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    border: 2px solid #21a8e7;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.78);
}

.counter {
    width: 250px;
    height: 150px;
    padding: 0;
    color: #21a8e7;
    border: 2px solid #21a8e7;
    border-radius: 15px;
    text-align: center;
    box-sizing: border-box;
    font-size: 50px;
}
.settingWindow{
    width: 250px;
    height: 150px;
    padding: 10px;
    color: #21a8e7;
    border: 2px solid #21a8e7;
    border-radius: 15px;
    text-align: center;
    box-sizing: border-box;
    font-size: 1em;
}

.limit {
    width: 250px;
    height: 150px;
    padding: 0;
    color: red;
    border: 2px solid #21a8e7;
    border-radius: 15px;
    text-align: center;
    box-sizing: border-box;
    font-size: 50px;

}

.buttons {
    display: flex;
    width: 250px;
    height: 100px;
    margin-top: 20px;
    justify-content: space-around;
    border: 2px solid #21a8e7;
    border-radius: 15px;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;

}

.increment {
    width: 90px;
    height: 35px;
    color: black;
    border: 3px solid #21a8e7;
    border-radius: 10px;
    background-color: #21a8e7;
    font-weight: bold;
}

.reset {
    width: 90px;
    height: 35px;
    color: black;
    border: 3px solid #21a8e7;
    border-radius: 10px;
    background-color: #21a8e7;
    font-weight: bold;
}
.setting{
    width: 90px;
    height: 35px;
    color: black;
    border: 3px solid #21a8e7;
    border-radius: 10px;
    background-color: #21a8e7;
    font-weight: bold;
}
.disableSetButton{
    width: 90px;
    height: 35px;
    color: black;
    border: 3px solid #0b5c86;
    border-radius: 10px;
    background-color: #0b5c86;
    font-weight: bold;
}

.disable {
    width: 90px;
    height: 35px;
    color: black;
    border: 3px solid #0b5c86;
    border-radius: 10px;
    background-color: #0b5c86;
    font-weight: bold;
}
.counterSettings{
    color: #21a8e7;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;

}
.default-values{
    margin: 0;
    width: 250px;
    height: 100px;
    border: 2px solid #21a8e7;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;

}
.value{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.value input{
    width: 80px;
    height: 20px;
    border-radius: 7px;
    outline: 0;
}
.setValues{
    margin: 5px;
    box-sizing: border-box;
    width: 250px;
    height: 60px;
    border: 2px solid #21a8e7;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    align-content: stretch;
    flex-wrap: nowrap;
    justify-content: center;
}


.text{
    margin: 0;
    font-size: .3em;
    font-weight: bold;
}
.error{
    margin: 0;
    font-size: .3em;
    font-weight: bold;
    color: red;
}
.inputErrorMin{
    background-color: rgba(255, 77, 71, 0.67);
    opacity: 0.7;
}
.inputErrorMax{
    background-color: rgba(255, 77, 71, 0.67);
    opacity: 0.7;

}
